extends layout

block content
  head
    link(rel = 'stylesheet' href='/stylesheets/iFrame/about.css')
  body
    include components/header.pug 

    section
      include components/aside.pug
      div#verticalLine
      
      div#page(style="width:100%; height:100%;")
        #common
            #intro
                h3 kakasoo!
                p 저는 백엔드 개발자를 지망(?)하는 개발자, 강경수입니다!

    include components/footer.pug

    script(src="/javascripts/util.js")
    script(src="/javascripts/viewControl/calender.js")
    script(src="/javascripts/viewControl/controlCalender.js")
    script(src="/javascripts/viewControl/changeContent.js")
    script(src="/javascripts/viewControl/changeIndex.js")
    script init()
