extends layout

block content
  body
    header
      div 
      div(style="display:flex")
        div.index
          a(href='/' style="color:black") kakasoo
        div.icons
          button(onclick="showAbout();     changeIndex('ABOUT');"    ) ABOUT
          button(onclick="showPortfolio(); changeIndex('PORTFOLIO');") PORTFOLIO
          button(onclick="showToDoList();  changeIndex('TODOLIST');" ) TODOLIST
          button(onclick="showBlog();      changeIndex('BLOG');"     ) BLOG
          button(onclick="showCareer();   changeIndex('CAREER');"  ) CAREER
        div.wsr
    

    section
      aside
        div#contentIndex
        div#calenderBox
          hr
          div
            article#calender
            div(style="display:flex")
              button.calenderLButton(onclick="preMonth()") pre
              button.calenderRButton(onclick="nextMonth()") next
      div.verticalLine
      
      iframe#contentBox(src="/iFrame/splash.html", frameborder="0")
              
    footer 
      .container
        p
        | &copy; 2020.09.10 made by kakasu |
        | JS is mine, JS is main, JS is meme!
    script(src="/javascripts/viewControl/calender.js")
    script(src="/javascripts/viewControl/changeContent.js")
    script(src="/javascripts/viewControl/changeIndex.js")
    script init()