extends layout

block content
  body
    header
      div 
      div(style="display:flex")
        div#index(style="float:left;")
          a(href='/' style="color:black; font-family:'BMDOHYEON'; font-size:44px; width:90%") kakasoo
        div.icons(style="display:flex")
          button
            a(href ='/about') ABOUT
          button
            a(href ='/stack') STACK
          button
            a(href ='/portfolio') PORTFOLIO
          button
            a(href ='/checkout') CHECKOUT
          button
            a(href ='/blog') BLOG
          button
            a(href ='/career') CAREER
        div.wsr
    

    section
      aside
        div#contentIndex
        div#calenderBox
          hr
          div
            article#calender
            div(style="display:flex")
              button.calenderLButton(onclick="preMonth()") pre
              button.calenderRButton(onclick="nextMonth()") next
      div#verticalLine
      
      div#common
        div#basePage hello, world!
        div
          div.additional this is kakasoo's blog</div>
          div.additional created from 2020.09.10</div>              
    footer 
      .container
        p
        | &copy; 2020.09.10 made by kakasu |
        | JS is mine, JS is main, JS is meme!


    script(src="/javascripts/iFrameControl/splash.js")

    script(src="/javascripts/util.js")
    script(src="/javascripts/viewControl/calender.js")
    script(src="/javascripts/viewControl/changeContent.js")
    script(src="/javascripts/viewControl/changeIndex.js")
    
    script init()