extends layout

block content
  body
    header
      div 
      div(style="display:flex")
        div.index
          a(href='/' style="color:black") kakasu
        div.icons
          button(onclick="showAbout(); changeIndex('ABOUT');") ABOUT
          button(onclick="showToDoList(); changeIndex('TODOLIST');") TODOLIST
          button(onclick="showPortfolio(); changeIndex('PORTFOLIO');") PORTFOLIO
          button(onclick="showBlog(); changeIndex('BLOG');") BLOG
          button(onclick="showContact(); changeIndex('CONTACT');") CONTACT
        div.wsr
    

    section
      aside
        div#contentIndex
        div#calenderBox
          hr
          div
            article#calender
            div(style="display:flex")
              button.calenderLButton(onclick="preMonth()") pre
              button.calenderRButton(onclick="nextMonth()") next
      div.verticalLine
      
      iframe#contentBox(src="/iFrame/splash.html", frameborder="0")
              
    footer 
      .container
        p
        | &copy; 2020.09.10 made by kakasu |
        i.fa.fa-value(aria-hidden='true') &nbsp;
        a(href='#') View Source

    script(src="/javascripts/viewControl/calender.js")
    script(src="/javascripts/viewControl/changeContent.js")
    script(src="/javascripts/viewControl/changeIndex.js")
