doctype html
html
  head
    title= `kakasoo\'s blog`
    link(rel='stylesheet', href='/stylesheets/iFrame.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/calender.css')
    link(rel='stylesheet', href='/stylesheets/aside.css')
    link(rel='stylesheet', href='/stylesheets/iFrame/common.css')
    
  body
    block content

  