#languages {
    font-size : 22px;
    display:flex;
}

#back-end {
    font-size : 22px;
}

#front-end {
    font-size : 22px;
}


@font-face {
    font-family: 'BMDOHYEON';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMDOHYEON.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.languages {
    min-width:100px;
    min-height:100px;
    max-width: 100px;
    max-height: 100px;
}

