a {
    color: black;
    text-decoration: none;
}

.article {
    border: 1px solid red;
    min-width: 700px;
    min-height: 250px;
    margin: 50px;
    display: flex;
}

.article_img {
    width: 250px;
    height: 250px;
    min-width: 250px;
    min-height: 250px;
    border : 1px solid black;
}

.articleText {
    margin-left: 50px;
}

.title {
    font-size: 40px;
}