a.article {
    font-family: 'Noto sans KR';
    font-size: 16px;
    font-weight: 400;
    color: black;
    text-decoration: none;
}

.article {
    border: 1px solid black;
    border-bottom: 3px solid black;
    border-right:  2px solid black;
    border-radius: 10px;
    min-width: 700px;
    min-height: 250px;
    height: 250px;
    margin: 50px;
    display: flex;
}

.article_img {
    border-radius: 10px;
    width: 250px;
    height: 250px;
    min-width: 250px;
    min-height: 250px;
    border-right: 2px solid black;
    border-bottom: 3px solid black;
    
    object-fit : contain;
}

.articleText {
    width: 100%;
    margin-left: 50px;
    overflow: auto;
}

.articleText::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}

.title {
    font-size: 40px;
}

.articleContent {
    font-size: 18px;
}

@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css); .notosanskr * { font-family: 'Noto Sans KR', sans-serif; }
