doctype html
html
  head
    title= `kakasu\'s blog`
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/calender.css')
    
  body
    block content
