#calnederBox {
}

#calender {
    text-align: center;
}

.day {
    width: 50px;
    height: 50px;
}

.sat {
    color : blue;
}

.sun {
    color : red;
}

.calenderLButton{
    border-radius: 20px;
    outline: none;
}

.calenderRButton{
    border-radius: 20px;
    outline: none;
    margin-left:auto;
    margin-right:5px;
}