body {
  padding-left: 80px;
  padding-right: 80px;
  font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

body,header, section, footer {
}

header { 
  border-bottom : 1px solid black;
  background-color: transparent;
}

hr {
  padding-left: 0px;
  padding-right: 0px;
}

.index {
  font-size: 44px;
  width: 60%;
}

.icons {
  width: 40%;
  text-align: right;
  overflow: hidden;
}

.wsr {
  margin-right: auto;
  min-width: 20px;
}

section {
  display: flex;
}

.icons>span {
  margin-left: 2%;
}

aside {
  width:15%;
  height: 800px;
}

.verticalLine {
  width: 2px;
  border-left: 1px black solid;
  border-right: 1px black solid;
}