body {
  padding-left: 80px;
  padding-right: 80px;
  font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
}

@font-face {
  font-family: 'BMDOHYEON';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMDOHYEON.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NanumSquareRound';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

header { 
  border-bottom : 1px solid black;
  background-color: transparent;
}

hr {
  padding-left: 0px;
  padding-right: 0px;
}

.index {
  font-family: 'BMDOHYEON';
  font-size: 44px;
  width: 60%;
}

.icons {
  width: 40%;
  text-align: right;
  overflow: hidden;
}

.wsr {
  margin-right: auto;
  min-width: 20px;
}

section {
  display: flex;
  min-height: 800px;
}

.icons>button {
  height: 40px;
  border: transparent;
  background-color: transparent;
  margin-left: 2%;
  outline: none;
}

.icons>form>button {
  height: 40px;
  border: transparent;
  background-color: transparent;
  margin-left: 2%;
  outline: none;
}


aside {
  min-width: 150px;
  width:15%;
}

#contentIndex {
  height:70%;
}

.verticalLine {
  width: 2px;
  border-left: 1px black solid;
  border-right: 1px black solid;
}

.icons > button {
  color: black;
  text-decoration-line: none;
}

#contentBox {
  font-family: 'NanumSquareRound';
  width: 100%;
}