body {
    font-family: 'Noto Sans KR';
    font-size: 14px;
}

body::-webkit-scrollbar {
    display: none;
}

h1 {
    margin-top: 30px;
    font-family: 'BMDOHYEON';
    font-weight: 700;
    font-size: 22px;
}

h2 {
    margin-top: 30px;
    font-family: 'BMDOHYEON';
    font-weight: 700;
    font-size: 20px;
}

h3 {
    margin-top: 30px;
    font-family: 'BMDOHYEON';
    font-weight: 700;
    font-size: 18px;
}

img {
    min-width: 100%;
    min-height: 300px;
    height: 300px;
    margin-bottom: 30px;
}

li {
    white-space: nowrap;
    font-weight: 400;
}

p {
    white-space: nowrap;
    margin-top: 5px;
    margin-bottom: 5px;
}

.codebox {
    border:1px solid black;
    background-color:#EEEEFF;
    width:100%;
    overflow:auto;    
    padding:10px;
}

.codebox code {
    font-size:0.9em;
}

@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css); .notosanskr * { font-family: 'Noto Sans KR', sans-serif; }

@font-face {
    font-family: 'BMDOHYEON';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMDOHYEON.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}